<router-outlet></router-outlet>
<header>
    <div class="top-nav">
        <nav>
            <img routerLink="/" src="logoWhite.png" alt="">
            <ul>
                <li routerLink="/" class="home">Home <img class="pizza" width="50" src="cheesy-pizza.png" alt=""></li>
                <div routerLink="/cart" class="cartHover"> 
                    <li  class="cart">Cart <div class="arrow-right"></div></li>
                    <p class="basketCount">{{basketCount}}</p>
                </div>
            </ul>
        </nav>
    </div>
</header>
