header{
    background-image: url('https://restaurant.stepprojects.ge/images/inner_banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}
.top-nav{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px; 
  transition: all 0.3s ease-in-out;
  background-color: #190B02;
  z-index: 1000;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    cursor: pointer;
}
ul{
    display: flex;
    color: white;
    align-items: center;
    gap: 50px;
}
ul li{
    list-style: none;
    display: flex;
    align-items: center;
}
ul div{
    display: flex;
    gap: 10px;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid red;
    position: absolute;
    right: -10px;
  }
  .cart{
    position: relative;
    background-color: red;
    padding: 5px 25px;
    border-radius: 5px;
  }
  .cartHover:hover .cart::after{
    animation-name: scooterAnimation;
    animation-duration: 3s;
  }

  @keyframes scooterAnimation {
    0% {transform: translateX(0);}
    100%{transform: translateX(30px);}
  }
  @keyframes after {
    0% { left: -60px; }
    100% { left: 0; }
  }
  @keyframes pizza{
    0% {
        transform: translateY(50px);
    }
    100% {transform: translateY(10px);}
  }
  
  .home {
    position: relative;
    overflow: hidden;
  }
  
  .home::after {
    background: #ffcc00;
    content: "";
    width: 50%;
    height: 3px;
    bottom: 10px;
    left: -60px; 
    position: absolute;
  }
  
  .home:hover::after {
    animation: after 1s forwards; 
  }
  .pizza{
    transform: translateY(50px);
    
    transition: 5s;
  }
  .home:hover .pizza{
    animation: pizza 1s forwards;
  }
  header h1{
    margin-top: 100px;
    text-align: center;
    color: white;
  }
  .cart::after{
    position: absolute;
    content: "";
    background: url(https://restaurant.stepprojects.ge/images/sprit.png) no-repeat -7px -6px;
    width: 37px;
    height: 26px;
    top: 0;
    right: -41px;
    bottom: 0;
    transition: right 1sease-in-out;
  }
  .cartHover {
    position: relative;
  }
  .basketCount {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 20px; 
    height: 20px;
    line-height: 20px; 
    text-align: center;
    border-radius: 50%;
    background-color: #ffcc00;
    color: sienna;
    font-size: 12px;
    font-weight: bold;
}
@media (max-width:768px){
  .top-nav nav{
    width: 100%;
  }
  ul{
    gap: 0;
  }
  .cartHover{
    margin-right: 70px;
  }
}