<div class="container">
  <app-header></app-header>
  <h1>Fast and efficient, online ordering you must try.</h1>
<app-categories (FilteredItems)="updateCards($event)" (showAllItems)="showAll($event)"></app-categories>

<section class="cards-container">
  <app-filter (filterChanged)="applyFilter($event)"></app-filter>
  <div class="cards-grid">
    @for (item of allProducs; track $index) {
      <div class="food-card">
        <div class="food-image-wrapper">
          <img [src]="item.image" alt="Delicious Dish" class="food-image">
          <p class="food-price">${{item.price}}</p> 
          <span class="spicy">🌶️ Spiciness {{item.spiciness}}</span>
        </div>
        <div class="food-info">
          <h2 class="food-name">{{item.name}}</h2>
          <div class="food-tags">
            <span class="nuts">
              <i class="{{ item.nuts ? 'fas fa-circle-check' : 'fas fa-xmark' }}"></i>
               nuts</span>
            <span class="vegetarian">
              <i class="{{ item.vegeterian ? 'fas fa-circle-check' : 'fas fa-xmark' }}"></i>
              vegeterian
            </span>
          </div>
          <div class="btns">
            <button (click)="addToBasket(item.id, item.price)">Add to Cart</button>
            <button [routerLink]="['/details']" [queryParams]="{data:stringify(item)}">View Details</button>
          </div>
        </div>
      </div>
    }
  </div>
</section>

</div>
