<app-header></app-header>
<app-categories (FilteredItems)="updateCards($event)" (showAllItems)="showAll($event)"></app-categories>

<section class="cards-container">
  <app-filter (filterChanged)="applyFilter($event)"></app-filter>
  <div class="cards-grid">
    @for (item of allProducs; track $index) {
      <div class="food-card">
        <div class="food-image-wrapper">
          <img [src]="item.image" alt="Delicious Dish" class="food-image">
          <p class="food-price">Price: ${{item.price}}</p> 
          <span class="spicy">🌶️ Spiciness {{item.spiciness}}</span>
        </div>
        <div class="food-info">
          <h2 class="food-name">{{item.name}}</h2>
          <div class="food-tags">
            <span class="nuts">
              <i class="{{ item.nuts ? 'fas fa-circle-check' : 'fas fa-xmark' }}"></i>
               nuts</span>
            <span class="vegetarian">
              <i class="{{ item.vegeterian ? 'fas fa-circle-check' : 'fas fa-xmark' }}"></i>
              vegeterian
            </span>
          </div>
          <button (click)="addToBasket(item.id, item.price)">Add to Cart</button>
        </div>
      </div>
    }
  </div>
</section>
