.Basket-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    background-image: url("https://restaurant.stepprojects.ge/images/cart_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    position: relative;
    overflow: hidden;
}
.container h1{
    position: absolute;
    transform: translate(60%, -100px);
    color: white;
    z-index: 100;
}
.table {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.table-row {
    display: flex;
    border-bottom: 1px solid #ddd;
}
.table-row:last-child {
    margin-bottom: 40px;
}
.hover:hover{
    background-color: #E0E0E0;
}

.table-header {
    font-weight: bold;
    background: #f4f4f4;
}

.table-cell {
    padding: 10px;
    text-align: center;
}
.product{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table-cell:last-child {
    border-right: none;
}

.product {
    flex: 60%;
    text-align: left;
}

.quantity, .price, .total {
    flex: 13.3%;
    align-self: center;
}

.fa-xmark:hover{
    color: red;
    cursor: pointer;
}
.btn-total{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn {
    width: 25px;
    height: 25px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
}

.btn:hover {
    background: #0056b3;
}

.qty {
    min-width: 20px;
    text-align: center;
    display: inline-block;
}

.btn-total{
    margin-left: 20px;
}
.btn-total p{
    font-size: 20px;
}

.btn-total button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.btn-total button:hover{
    background-color: #ff0000;
}
.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    background-image: url("https://restaurant.stepprojects.ge/images/cart_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.empty h2{
    font-size: 25px;
}
.empty button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.disabled{
    display: none;
}

@media (max-width:670px){
    .table{
        width: 100%;
    }
}