<div class="container">
    <app-header></app-header>
<div class="Basket-Container">
<h1>Cart</h1>
<div class="table" [class]="{disabled: BasketItems.length === 0}">
    <div class="table-row table-header">
        <div class="table-cell product">Product</div>
        <div class="table-cell quantity">Quantity</div>
        <div class="table-cell price">Price</div>
        <div class="table-cell total">Total</div>
    </div>

    @for (item of BasketItems; track $index) {
    <div class="table-row hover" >
        
        <div class="table-cell product">
            <div>
                <i (click)="removeItem(item.product.id)" class="fas fa-xmark"></i>
                <i class="fas fa-pen"></i>
            </div>
            <img width="80" [src]="item.product.image" alt="">
             {{item.product.name}} </div>
             <div class="table-cell quantity">
                <button class="btn decrease" (click)="decreaseQuantity(item)">-</button>
                <span class="qty">{{ item.quantity }}</span>
                <button class="btn increase" (click)="increaseQuantity(item)">+</button>
              </div>
        <div class="table-cell price">${{item.price}}</div>
        <div class="table-cell total">$ {{ item.quantity * item.price }}</div>
    </div>
}

<div class="btn-total">
<p>Total: ${{totalPrice}}</p>
<button>PROCEED TO CHECKOUT</button>
</div>
</div>
<div *ngIf="BasketItems.length === 0" class="empty">
    <img src="	https://onlinerestaurant-seven.vercel.app/assets/emptycart.png" alt="">
    <h2>Your cart is empty...</h2>
    <button (click)="goToHomepage()">Go to Homepage</button>
</div> 

</div>
</div>
