<app-header></app-header>
<div class="product-details-container">
    <h1 class="product-title">{{ product.name }}</h1>
    <div class="product-info">
        <div class="product-image-wrapper">
            <img [src]="product.image" alt="{{ product.name }}" class="product-image">
        </div>
        <div class="product-details">
            <p class="product-description">
                {{ product.name }}, Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquid exercitationem
                reprehenderit accusamus, fugit alias veritatis mollitia error? Autem velit aperiam temporibus eaque at cum
                similique vero distinctio modi excepturi? Libero dolorum quae tenetur deleniti mollitia.
            </p>
            <p class="price">Price: ${{ product.price }}</p>
            <p class="spiciness">Spiciness: {{ product.spiciness }}</p>
            <div class="product-tags">
                <span class="nuts">
                    <i class="{{ product.nuts ? 'fas fa-circle-check' : 'fas fa-xmark' }}"></i>
                    Nuts
                </span>
                <span class="vegetarian">
                    <i class="{{ product.vegeterian ? 'fas fa-circle-check' : 'fas fa-xmark' }}"></i>
                    Vegetarian
                </span>
            </div>
            <div>
                <div class="quantity-container">
                    <label for="number" class="quantity-label">Enter Quantity :</label>
                    <input type="number" [(ngModel)]="quantity" min="1" id="number" class="quantity-input" />
                  </div>
                  
                <button (click)="addToBasket(product.id, product.price, quantity)" class="btn-add-to-cart">Add to Cart</button>
              </div>
              
        </div>
    </div>
</div>
